root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_indent_size = 2
ij_kotlin_continuation_indent_size = 2
# Disable chain wrapping rule to keep chained calls on the same line
ktlint_standard_chain-wrapping = disabled
# Disable trailing comma rule for method calls
ktlint_standard_trailing-comma-on-call-site = disabled

[*.md]
trim_trailing_whitespace = false